:root{
    --azul1:#161d25;
    --azul2:#212a34;
    --azul3:#434b54;
    --verde1:#72da38;
    --verde2:#baf77b;
    --blancogris:rgba(255, 255, 255, 0.62);
}

@font-face {
    font-family:aldo;
    src: url(fuentes/AldotheApache.ttf);
}

@font-face {
    font-family:caviar;
    src: url(fuentes/CaviarDreams_Italic.ttf);
}

body{
    background-color:var(--azul2);
}

header{
    background-color:var(--azul1);
    color:var(--verde1);
    margin:0vw 2vw 0vw 2vw;
    padding:1vw;
    border:0.2vw solid #baf77b;
    border-radius:1vw;
    font-family:caviar;
    font-size:2vw;
    letter-spacing:0.5vw;
    height:5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header section{
    display: grid;
    grid-template-columns:70% 30%;
    width:100%;
}

header section h1{
    text-align: center;
}

header section nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

main{
    background-color:#161d25;
    margin:1vw 2vw 0vw 2vw;
    padding:1vw;
    border:0.2vw solid #baf77b;
    border-radius:1vw;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2vw;
    justify-content: center;
}

.sinfin{
    display:grid;
    grid-template-columns:70% 30%;
}

.cadatarea{
    border:0.2vw solid var(--verde1);
    border-radius:2vw;
    background-color: #434b54;
    width:25vw;
    padding:1vw;
    font-family: caviar;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cadatarea:hover{
    box-shadow:0px 0px 20px 4px var(--verde2);
    transform: scale(1.09);
}

.cadatarea hr{
    background-color:var(--verde1);
    border:0;
    height:0.1vw;
}

.fecha{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap:2vw;
}


.s-nombre section{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap:2vw;
}

.s-datos section{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cadatarea h1{
    font-size:1.5vw;
    margin:1vw;
}



.cadatarea h2{
    font-size:0.7vw;
    color:rgba(255, 255, 255, 0.62);
}

.cadatarea p{
    font-size:1vw;
    color:rgb(255, 255, 255);
    font-weight:bold;
}

.fecha p{
    font-size:1vw;
}


.s-datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap:1vw;
}

.s-datos section{
    column-gap:1vw;
    width:10vw;
    justify-content: center;
}

.s-datos section img{
    width:2vw;
}

.pendiente{
    background-color:rgb(255, 0, 0);
    width: 1.5vw;
    height:1.5vw;
    border-radius:50%; 
    box-shadow:0px 0px 20px 4px #d40000;
}

.proceso{
    background-color:rgb(242, 255, 0);
    width: 1.5vw;
    height:1.5vw;
    border-radius:50%;
    box-shadow:0px 0px 20px 4px rgb(242, 255, 0);
}

.terminado{
    background-color:rgb(33, 255, 33);
    width: 1.5vw;
    height:1.5vw;
    border-radius:50%; 
    box-shadow:0px 0px 20px 4px rgb(33, 255, 33);
}

.todos{
    background-color:rgb(84, 23, 239);
    width: 1.5vw;
    height:1.5vw;
    border-radius:50%; 
    box-shadow:0px 0px 20px 4px rgb(84, 23, 239);
}

.nombrestado{
    display:grid;
    grid-template-columns:70% 30%;
    width:100%;
    justify-content: center;
    align-items: center;
    padding:0;
}

.nombrestado h1{
    color: var(--verde1);
}

.estado{
    display: flex;
    align-items: center;
    justify-content: end;
    margin:1vw 1vw 2vw 0vw;
}

#infocolores{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap:5vw;
    margin:0vw 2vw 2vw 2vw;
}


.cadainfo{
    display: flex;
    align-items: center;
    font-size:0.7vw;
    color:rgb(255, 255, 255);
    font-family:caviar;
    column-gap:0.5vw;
}

.cadainfo:hover{
    transform: scale(1.20);
}

#terminado:hover{
    color: var(--verde1);
}

#pendiente:hover{
    color: red;
}

#enproceso:hover{
    color:yellow;
}

#todos:hover{
    color:rgb(128, 80, 249);
}

.btns img{
    width:3vw;
}

.btns button{
    background-color:rgba(255, 255, 255, 0);
    border:none;
}

#btn-eliminar:hover{
    content:url("img/eliminar2.png");
}

#btn-editar:hover{
    content:url("img/editar2.png");
}

.btns{
    display: flex;
    flex-direction: row;
    width:100%;
    align-items: center;
    justify-content: center;
    column-gap:2vw;
}

nav{
    display: flex;
    justify-content: center;
    margin:1vw;
}

nav button{
    background-color:var(--azul1);
    color:var(--verde1);
    border:0.1vw solid var(--verde2);
    box-shadow:0px 0px 1vw 0.1vw var(--verde2);
    border-radius:1vw;
    height:4vw;
    width:4vw;
    font-size:3vw;
}

nav button:hover{
    transform: scale(1.09);
    box-shadow:0px 0px 2vw 0.1vw var(--verde2);
}


/* Edición de las estrellas del formulario */
.valoracion {
    direction: rtl;
    unicode-bidi: bidi-override;
    display: inline-block;
}
.valoracion > input {
    display: none;
}
.valoracion > label {
    color: #ff0000;
    font-size: 1.5vw;
    padding: 0;
    cursor: pointer;
}

.valoracion > input:checked ~ label {
    color: var(--verde2);
}
.valoracion > label:hover, .valoracion > label:hover ~ label {
    color: var(--verde2);
}

/* EDICIÓN DEL FORMULARIO */
#sectionformulario{
    
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0.5s ease;

    background-color: var(--azul1);
    border:0.2vw solid var(--verde2);
    border-radius:1vw;
    margin:1vw 2vw 0vw 2vw;
    padding:1vw;
    color: white;
    font-family:caviar;
}

#sectionformulario.cajavisible{
    opacity:1;
    height:100%;
}

.cajaoculta{
    display: none;
}

#formulariocrear{
    display: flex;
    flex-direction: column;
    align-items:center;
    row-gap:1vw;
}

.formsection{
    display: flex;
    column-gap:4vw;
}

.formsection input,select{
    border-radius:0.5vw;
    border: none;
    background-color:var(--azul3);
    border:0.2vw solid var(--verde2);
    color:white;
    padding:0.5vw;
    font-family:caviar;
    font-size:1vw;
}

.formsection label{
    color:rgba(255, 255, 255, 0.62) ;
}

.valoracion label{
    color: #ffffff;
}

#sectionbotonesformulario input{
    background-color: var(--verde2);
    color:black;
    border:0;
    border-radius:0.5vw;
    padding:0.5vw;
    width:4vw;
    font-family:caviar;
}

#sectionbotonesformulario input:hover{
    background-color: var(--azul3);
    color:rgb(255, 255, 255);
    border:0.1vw solid var(--verde2);
}


/* Edición de card de edicion */

.modal-oculto {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    overflow: auto;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.262);
}


.modal-contenido {
    background-color: var(--azul1);
    margin: 10% auto;
    padding: 20px;
    border: 0.2vw solid var(--verde2);
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.num_val{
    color:white;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#form-editar{
    display: flex;
    flex-direction: column;
    row-gap:1vw;
    color: var(--blancogris);
    font-family:caviar;
}

#form-editar div{
    display:flex;
    flex-direction: column;
}

#div-val div{
    display:flex;
    flex-direction: row;
    justify-content:end;
}

#form-editar input{
    background-color: var(--azul3);
    color:rgb(255, 255, 255);
    border:0.2vw solid var(--verde2);
    border-radius:0.5vw;
    padding:0.5vw;
}

/* EDICION FILTROS */
.cadaopc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap:0.3vw;
    font-size:1vw;
}

.cadaopc label{
    color: var(--blancogris);
    font-family: caviar;
    font-size:1vw;
}

#formfiltro{
    display: flex;
    flex-direction: row;
    column-gap:2vw;
    justify-content: center;
    margin-bottom: 2vw;
}

.cadaopc input{
    background-color: var(--azul3);
    border:0.2vw solid var(--verde2);
    border-radius:0.5vw;
    color: white;
    height:2vw;
    font-size:1vw;
}

@media (max-width: 480px) {
    header section{
        width: 100%;
    }

    header section h1{
        font-size:10vw;
    }

    header{
        height:12vw;
    }

    header section nav button{
        justify-content: center;
        align-items: center;
        width:10vw;
        height:10vw;
        font-size:9vw;
    }

    header section nav{
        display: flex;
    }

    #formulariocrear input{
        font-size:3vw;
    }

    #formulariocrear label{
        font-size:3vw;
    }

    #formulariocrear select{
        font-size:3vw;
    }

    #sectionbotonesformulario input{
        font-size:3vw;
        width:100%;
        padding:0.5vw 1vw 0.5vw 1vw;
    }

    #formulariocrear{
        row-gap:2vw;
    }

    #formfiltro{
        display: flex;
        flex-wrap: wrap;
        column-gap:4vw;
        row-gap:3vw;
    }

    #formfiltro div label{
        font-size:3vw;
        height:4vw;
    }

    #formfiltro div input, select{
        font-size:2vw;
    }

    #container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cadatarea{
        width:40vw;
    }

    .cadatarea .nombrestado h1{
        font-size:4vw;
    }

    .estado div{
        width:4vw;
        height:4vw;
    }

    .s-nombre div section h2{
        font-size:1.5vw;
    }

    .s-nombre div section p{
        font-size:2.5vw;
    }
    
    .s-datos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .s-datos section h2{
        font-size:1.5vw;
    }

    .s-datos section p img{
        width:5vw;
    }
    .s-datos section div img{
        width:5vw;
    }

    .cadatarea h2{
        font-size: 1.5vw;
    }

    .cadatarea p{
        font-size:2vw;
    }

.btns button img{
    width:6vw;
}
    
}